In [2]:
# use tuple
classmates = 'Tom', 'Bob', 'Andy'
print(classmates)
t = ('Tom', 'Bob', 'Andy')
print(t == classmates)
# tuple like list, but can't be changed
classmates[1] = '123'

('Tom', 'Bob', 'Andy')
True

TypeError: 'tuple' object does not support item assignment

In [3]:
# empty tuple
t = ()
print(t)

()

In [5]:
# (value) will became a result of single value, so you must use (value,) or value, to define a tuple contain single value
t = (2)
print(t)
t = ('a')
print(t)

t = (2,)
print(t)
t = ('a',)
print(t)

t = 2,
print(t)
t = 'a',
print(t)

2
a
(2,)
('a',)
(2,)
('a',)

In [7]:
print(3 * (1 + 2))
print(3 * (1 + 2,))

9
(3, 3, 3)

In [8]:
# tuple()
print(tuple([1, 2, 3]))
print(tuple("abc"))
print(tuple((1, 2, 3)))

(1, 2, 3)
('a', 'b', 'c')
(1, 2, 3)

In [9]:
t = (1, 2, 3)
print(t[2])

3

In [10]:
# slice
t = (1, 2, 3, 4, 5)
print(t[2:4])

(3, 4)

In [11]:
# if tuple contains reference variable elements, these elements of the reference variables can be change, but the variables element in tuple, 
# their reference can't be changed. 
li = ['A', 'B']
t = ('a', 'b', li)
li[0] = 'X'
t[2][1] = 'Y'
print(t)
t[2] = [123]

('a', 'b', ['X', 'Y'])

TypeError: 'tuple' object does not support item assignment

In [12]:
# tuple is immutable, you can't use slice assignment to change it
nl = (1, 5)
ll = (2, 3, 4)
nl[1:1] = ll
print(nl)

TypeError: 'tuple' object does not support item assignment

In [13]:
# string as the same as tuple is immutable, you can't use slice assignment to change it
sa = 'Hello World!'
lan = 'Python'
nl[6:] = lan
print(sa)

TypeError: 'tuple' object does not support item assignment